<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome Page</title>
    <link rel="stylesheet" href="../css/style2.css">
    <link rel="icon" href="https://developer.android.com/static/images/cluster-illustrations/controllers.svg" type="image/x-icon">

</head>
<body>
<form id="form-container" class="form-container">
    <h1>
        Welcome To Memory Game
    </h1>
    <label class="enter-names-text">Please enter players names: </label>
    <div class="player-one-input">
        <label class="input-text input-one" for="player1">Player 1</label>
        <input class="input" id="player1" required>
    </div>
    <div class="player-two-input">
        <label class="input-text input-two" for="player2">Player 2</label>
        <input id="player2" class="input" required>
    </div>
    <button class="play-button" type="submit">Play</button>
</form>
<script type="module" src="../js/welcome.js"></script>
<script type="module" src="../js/router.js"></script>
</body>
</html>
